* {
  font-family: "Nanum Gothic", sans-serif;
  box-sizing: border-box;
}

.logo {
  padding-left: 40px;
  padding-bottom: 20px;
  height: 96px;
  width: 180;

}

header {
  background-image: linear-gradient(to left, #F999B7, #F9C5D5);
  text-align: left;
  padding-bottom: 5px;
  padding-top: 20px; 
}

.carrito {
  padding-right: 40px;
}
.flex {
  flex-grow: 1;
  text-align: center;
  position: relative;
  padding: 10px;
  border: 3px solid #F999B7;
  border-radius: 5px;
  background-color: white;
  /* flex-direction: column; */ }
  .flex:hover {
    background-color: #ccc; }
