* {
  font-family: "Nanum Gothic", sans-serif;
  box-sizing: border-box;


}

body {
  background-image: url("./assets/Background.jpg");
  margin: 0px;
  
  max-width: 100%;
}

.logo {
  padding-left: 40px;
  padding-bottom: 20px;
  height: 96px;
  width: 180;

}

header {
  background-image: linear-gradient(to left, #F999B7, #F9C5D5);
  text-align: left;
  padding-bottom: 5px;
  padding-top: 20px;
}


.flex {
  flex-grow: 1;
  text-align: center;
  position: relative;
  padding: 10px;
  border: 3px solid #F999B7;
  border-radius: 5px;
  background-color: white;
  
}

.flex:hover {
  background-color: #ccc;
}

@media screen and (min-width: 768px) {
  * {
    font-size: 15px;
  }

  .grid {
    grid-template-columns: repeat(5, 1fr);
  }

  footer {
    height: 50px;
  }

  .checkmark {
    height: 15px;
    width: 15px;
  }

  .container .checkmark:after {
    top: 5px;
    left: 4.5px;
    width: 6.5px;
    height: 6.5px;
  }

  .btn-grace {
    padding: 0 40px;
  }
}